<ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="this.myValueWorkingOnSimulations">
  <li class="nav-link active">
    <a class="nav-link link-primary" id="login-or-register-tab" data-toggle="tab" href="/working-on-simulations#working-on-simulations" role="tab"
       aria-controls="login-or-register" aria-selected="false" (click)="showActive(1)">Working on Simulations</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="getting-started-tab" data-toggle="tab" href="/working-on-simulations#getting-started" role="tab"
       aria-controls="getting-started" aria-selected="false" (click)="showActive(2)">Getting Started</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="select-application-tab" data-toggle="tab" href="/working-on-simulations#select-application" role="tab"
       aria-controls="select-application" aria-selected="false" (click)="showActive(3)">Select Application</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="system-parameters-tab" data-toggle="tab" href="/working-on-simulations#system-parameters" role="tab"
       aria-controls="system-parameters" aria-selected="false" (click)="showActive(4)">System Parameters</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="graphical-parameters-tab" data-toggle="tab" href="/working-on-simulations#graphical-parameters" role="tab"
       aria-controls="graphical-parameters" aria-selected="false" (click)="showActive(5)">Graphical Parameters</a>
  </li>
</ul>

<ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="this.myValueGettingStarted">
  <li class="nav-link">
    <a class="nav-link link-secondary" id="login-or-register-tab" data-toggle="tab" href="/working-on-simulations#working-on-simulations" role="tab"
       aria-controls="login-or-register" aria-selected="false" (click)="showActive(1)">Working on Simulations</a>
  </li>
  <li class="nav-link active">
    <a class="nav-link link-primary" id="getting-started-tab" data-toggle="tab" href="/working-on-simulations#getting-started" role="tab"
       aria-controls="getting-started" aria-selected="false" (click)="showActive(2)">Getting Started</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="select-application-tab" data-toggle="tab" href="/working-on-simulations#select-application" role="tab"
       aria-controls="select-application" aria-selected="false" (click)="showActive(3)">Select Application</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="system-parameters-tab" data-toggle="tab" href="/working-on-simulations#system-parameters" role="tab"
       aria-controls="system-parameters" aria-selected="false" (click)="showActive(4)">System Parameters</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="graphical-parameters-tab" data-toggle="tab" href="/working-on-simulations#graphical-parameters" role="tab"
       aria-controls="graphical-parameters" aria-selected="false" (click)="showActive(5)">Graphical Parameters</a>
  </li>
</ul>

<ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="this.myValueSelectApplication">
  <li class="nav-link">
    <a class="nav-link link-secondary" id="login-or-register-tab" data-toggle="tab" href="/working-on-simulations#working-on-simulations" role="tab"
       aria-controls="login-or-register" aria-selected="false" (click)="showActive(1)">Working on Simulations</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="getting-started-tab" data-toggle="tab" href="/working-on-simulations#getting-started" role="tab"
       aria-controls="getting-started" aria-selected="false" (click)="showActive(2)">Getting Started</a>
  </li>
  <li class="nav-link active">
    <a class="nav-link link-primary" id="select-application-tab" data-toggle="tab" href="/working-on-simulations#select-application" role="tab"
       aria-controls="select-application" aria-selected="false" (click)="showActive(3)">Select Application</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="system-parameters-tab" data-toggle="tab" href="/working-on-simulations#system-parameters" role="tab"
       aria-controls="system-parameters" aria-selected="false" (click)="showActive(4)">System Parameters</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="graphical-parameters-tab" data-toggle="tab" href="/working-on-simulations#graphical-parameters" role="tab"
       aria-controls="graphical-parameters" aria-selected="false" (click)="showActive(5)">Graphical Parameters</a>
  </li>
</ul>

<ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="this.myValueSystemParameters">
  <li class="nav-link">
    <a class="nav-link link-secondary" id="login-or-register-tab" data-toggle="tab" href="/working-on-simulations#working-on-simulations" role="tab"
       aria-controls="login-or-register" aria-selected="false" (click)="showActive(1)">Working on Simulations</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="getting-started-tab" data-toggle="tab" href="/working-on-simulations#getting-started" role="tab"
       aria-controls="getting-started" aria-selected="false" (click)="showActive(2)">Getting Started</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="select-application-tab" data-toggle="tab" href="/working-on-simulations#select-application" role="tab"
       aria-controls="select-application" aria-selected="false" (click)="showActive(3)">Select Application</a>
  </li>
  <li class="nav-link active">
    <a class="nav-link link-primary" id="system-parameters-tab" data-toggle="tab" href="/working-on-simulations#system-parameters" role="tab"
       aria-controls="system-parameters" aria-selected="false" (click)="showActive(4)">System Parameters</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="graphical-parameters-tab" data-toggle="tab" href="/working-on-simulations#graphical-parameters" role="tab"
       aria-controls="graphical-parameters" aria-selected="false" (click)="showActive(5)">Graphical Parameters</a>
  </li>
</ul>

<ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="this.myValueGraphicalParameters">
  <li class="nav-link">
    <a class="nav-link link-secondary" id="login-or-register-tab" data-toggle="tab" href="/working-on-simulations#working-on-simulations" role="tab"
       aria-controls="login-or-register" aria-selected="false" (click)="showActive(1)">Working on Simulations</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="getting-started-tab" data-toggle="tab" href="/working-on-simulations#getting-started" role="tab"
       aria-controls="getting-started" aria-selected="false" (click)="showActive(2)">Getting Started</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="select-application-tab" data-toggle="tab" href="/working-on-simulations#select-application" role="tab"
       aria-controls="select-application" aria-selected="false" (click)="showActive(3)">Select Application</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="system-parameters-tab" data-toggle="tab" href="/working-on-simulations#system-parameters" role="tab"
       aria-controls="system-parameters" aria-selected="false" (click)="showActive(4)">System Parameters</a>
  </li>
  <li class="nav-link active">
    <a class="nav-link link-primary" id="graphical-parameters-tab" data-toggle="tab" href="/working-on-simulations#graphical-parameters" role="tab"
       aria-controls="graphical-parameters" aria-selected="false" (click)="showActive(5)">Graphical Parameters</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active"
       id="working-on-simulations"
       role="tabpanel"
       aria-labelledby="wokring-on-simulations-tab"
       *ngIf="this.myValueWorkingOnSimulations">

    <br />
    <div class="text-center x-large-text">
      <p><strong>Working on Simulations</strong></p>
    </div>
    <hr />

    <div class="blue-background">
      <p>
        <strong>
          This page is intended to get started or continue working on analytics and simulations. Beginning with the login (or registartion for new users),
          we'll take you through the various steps os setting up your project.
        </strong>
      </p>
      <p>
        <strong>
          Getting started means that you begin by selecting the type of application that you're working on, This includes a wide rnage, such as healthcare,
          manufacturing, finance, etc. After you select the project type, you'll be asked to enter the system and graphical paremeters. This inmformation
          will be used to configure your project, so that we can proceed with the analytics and simulations.
        </strong>
      </p>
      <p>
        <strong>
          If you're continuing a project that you've started previously, then the previous configuration will appear automatically when you select your project.
          Once you've configures your project, you'll be ready to display the results. The more detailed your configuration, the more complete the results
          will be. Hence it's likely that you'll want to periodically view the interim results as you gradually configure the system.
        </strong>
      </p>
      <p>
        <strong>
          To view the results as reports, select the 'Display Reports' item from the menu at the top of the page.
        </strong>
      </p>
    </div>
    <hr />

    <div class="text-center larger-text">
      <p><strong>Descriptin of Tab Selections for this Page</strong></p>
    </div>
    <br />

    <table class="table bold-borders">
      <tr>
        <th class="underline">Tab</th>
        <th class="underline">Description</th>
      </tr>
      <tr>
        <td><strong>Getting started</strong></td>
        <td>
          <strong>Basic instructions for beginning your Simulation</strong>
        </td>
      </tr>
      <tr>
        <td><strong>Select application</strong></td>
        <td>
          <strong>Choose from a set of basic models for risk management, decision support, process simulations, etc.</strong>
        </td>
      </tr>
      <tr>
        <td><strong>Select system parameters</strong></td>
        <td><strong>These are the parameters that will be used to configuire your system for running the analytics and simulations</strong></td>
      </tr>
      <tr>
        <td><strong>About</strong></td>
        <td>
          <strong>Select this tab to learn more about the company and its history</strong>
        </td>
      </tr>
      <tr>
        <td><strong>Select grahical parameters</strong></td>
        <td>
          <strong>
            These parameters will be used to define the vizualization details of your results (e.g. histogram, bar charts, animation, lighting, etc)
          </strong>
        </td>
      </tr>
    </table>
  </div>

  <div class="tab-pane fade show active"
       id="getting-started"
       role="tabpanel"
       aria-labelledby="getting-started-tab"
       *ngIf="this.myValueGettingStarted">
    <br /><br />
    <div class="x-large-text">Getting started tab content</div>.
    <br /><br />
  </div>

  <div class="tab-pane fade show active"
       id="select-application"
       role="tabpanel"
       aria-labelledby="select-application-tab"
       *ngIf="this.myValueSelectApplication">
    <br /><br />
    <div class="x-large-text">Select application tab content</div>.
    <br /><br />
  </div>

  <div class="tab-pane fade show active"
       id="system-parameters"
       role="tabpanel"
       aria-labelledby="contact-us-tab"
       *ngIf="this.myValueSystemParameters">
    <br /><br />
    <div class="x-large-text">System parameters tab content</div>.
    <br /><br />
  </div>

  <div class="tab-pane fade show active"
       id="graphical-parameters"
       role="tabpanel"
       aria-labelledby="contact-us-tab"
       *ngIf="this.myValueGraphicalParameters">
    <br /><br />
    <div class="x-large-text">Graphical parameters tab content</div>.
    <br /><br />
  </div>

</div>
