<ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="this.myValueHome">
  <li class="nav-link active">
    <a class="nav-link link-primary" id="home-tab" data-toggle="tab" href="/welcome-page#home" role="tab"
       aria-controls="home" aria-selected="false" (click)="showActive(1)">Home</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="about-tab" data-toggle="tab" href="/welcome-page#about" role="tab"
       aria-controls="about" aria-selected="false" (click)="showActive(2)">About</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="products-tab" data-toggle="tab" href="/welcome-page#products" role="tab"
       aria-controls="products" aria-selected="false" (click)="showActive(3)" color="pink">Products</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="editions-tab" data-toggle="tab" href="/welcome-page#editions" role="tab"
       aria-controls="editions" aria-selected="false" (click)="showActive(4)">Editions</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="customized-solutions-tab" data-toggle="tab" href="/welcome-page#customized-solutions" role="tab"
       aria-controls="customized-solutions" aria-selected="false" (click)="showActive(5)">Customized Solutions</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="contact-us-tab" data-toggle="tab" href="/welcome-page#contact-us" role="tab"
       aria-controls="contact-us" aria-selected="false" (click)="showActive(6)">Contact Us</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="login-or-register-tab" data-toggle="tab" href="/welcome-page#login-or-register" role="tab"
       aria-controls="login-or-register" aria-selected="false" (click)="showActive(7)">Login Or Register</a>
  </li>
</ul>

<ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="this.myValueAbout">
  <li class="nav-link">
    <a class="nav-link link-secondary" id="home-tab" data-toggle="tab" href="/welcome-page#home" role="tab"
       aria-controls="home" aria-selected="false" (click)="showActive(1)">Home</a>
  </li>
  <li class="nav-link active">
    <a class="nav-link link-primary" id="about-tab" data-toggle="tab" href="/welcome-page#about" role="tab"
       aria-controls="about" aria-selected="false" (click)="showActive(2)">About</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="products-tab" data-toggle="tab" href="/welcome-page#products" role="tab"
       aria-controls="products" aria-selected="false" (click)="showActive(3)">Products</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="editions-tab" data-toggle="tab" href="/welcome-page#editions" role="tab"
       aria-controls="editions" aria-selected="false" (click)="showActive(4)">Editions</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="customized-solutions-tab" data-toggle="tab" href="/welcome-page#customized-solutions" role="tab"
       aria-controls="customized-solutions" aria-selected="false" (click)="showActive(5)">Customized Solutions</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="contact-us-tab" data-toggle="tab" href="/welcome-page#contact-us" role="tab"
       aria-controls="contact-us" aria-selected="false" (click)="showActive(6)">Contact Us</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="login-or-register-tab" data-toggle="tab" href="/welcome-page#login-or-register" role="tab"
       aria-controls="login-or-register" aria-selected="false" (click)="showActive(7)">Login Or Register</a>
  </li>
</ul>

<ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="this.myValueProducts">
  <li class="nav-link">
    <a class="nav-link link-secondary" id="home-tab" data-toggle="tab" href="/welcome-page#home" role="tab"
       aria-controls="home" aria-selected="false" (click)="showActive(1)">Home</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="about-tab" data-toggle="tab" href="/welcome-page#about" role="tab"
       aria-controls="about" aria-selected="false" (click)="showActive(2)">About</a>
  </li>
  <li class="nav-link active">
    <a class="nav-link link-primary" id="products-tab" data-toggle="tab" href="/welcome-page#products" role="tab"
       aria-controls="products" aria-selected="false" (click)="showActive(3)">Products</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="editions-tab" data-toggle="tab" href="/welcome-page#editions" role="tab"
       aria-controls="editions" aria-selected="false" (click)="showActive(4)">Editions</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="customized-solutions-tab" data-toggle="tab" href="/welcome-page#customized-solutions" role="tab"
       aria-controls="customized-solutions" aria-selected="false" (click)="showActive(5)">Customized Solutions</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="contact-us-tab" data-toggle="tab" href="/welcome-page#contact-us" role="tab"
       aria-controls="contact-us" aria-selected="false" (click)="showActive(6)">Contact Us</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="login-or-register-tab" data-toggle="tab" href="/welcome-page#login-or-register" role="tab"
       aria-controls="login-or-register" aria-selected="false" (click)="showActive(7)">Login Or Register</a>
  </li>
</ul>

<ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="this.myValueEditions">
  <li class="nav-link">
    <a class="nav-link link-secondary" id="home-tab" data-toggle="tab" href="/welcome-page#home" role="tab"
       aria-controls="home" aria-selected="false" (click)="showActive(1)">Home</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="about-tab" data-toggle="tab" href="/welcome-page#about" role="tab"
       aria-controls="about" aria-selected="false" (click)="showActive(2)">About</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="products-tab" data-toggle="tab" href="/welcome-page#products" role="tab"
       aria-controls="products" aria-selected="false" (click)="showActive(3)">Products</a>
  </li>
  <li class="nav-link active">
    <a class="nav-link link-primary" id="editions-tab" data-toggle="tab" href="/welcome-page#editions" role="tab"
       aria-controls="editions" aria-selected="false" (click)="showActive(4)">Editions</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="customized-solutions-tab" data-toggle="tab" href="/welcome-page#customized-solutions" role="tab"
       aria-controls="customized-solutions" aria-selected="false" (click)="showActive(5)">Customized Solutions</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="contact-us-tab" data-toggle="tab" href="/welcome-page#contact-us" role="tab"
       aria-controls="contact-us" aria-selected="false" (click)="showActive(6)">Contact Us</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="login-or-register-tab" data-toggle="tab" href="/welcome-page#login-or-register" role="tab"
       aria-controls="login-or-register" aria-selected="false" (click)="showActive(7)">Login Or Register</a>
  </li>
</ul>

<ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="this.myValueCustomizedSolutions">
  <li class="nav-link">
    <a class="nav-link link-secondary" id="home-tab" data-toggle="tab" href="/welcome-page#home" role="tab"
       aria-controls="home" aria-selected="false" (click)="showActive(1)">Home</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="about-tab" data-toggle="tab" href="/welcome-page#about" role="tab"
       aria-controls="about" aria-selected="false" (click)="showActive(2)">About</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="products-tab" data-toggle="tab" href="/welcome-page#products" role="tab"
       aria-controls="products" aria-selected="false" (click)="showActive(3)">Products</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="editions-tab" data-toggle="tab" href="/welcome-page#editions" role="tab"
       aria-controls="editions" aria-selected="false" (click)="showActive(4)">Editions</a>
  </li>
  <li class="nav-link active">
    <a class="nav-link link-primary" id="customized-solutions-tab" data-toggle="tab" href="/welcome-page#customized-solutions" role="tab"
       aria-controls="customized-solutions" aria-selected="false" (click)="showActive(5)">Customized Solutions</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="contact-us-tab" data-toggle="tab" href="/welcome-page#contact-us" role="tab"
       aria-controls="contact-us" aria-selected="false" (click)="showActive(6)">Contact Us</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="login-or-register-tab" data-toggle="tab" href="/welcome-page#login-or-register" role="tab"
       aria-controls="login-or-register" aria-selected="false" (click)="showActive(7)">Login Or Register</a>
  </li>
</ul>

<ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="this.myValueContactUs">
  <li class="nav-link">
    <a class="nav-link link-secondary" id="home-tab" data-toggle="tab" href="/welcome-page#home" role="tab"
       aria-controls="home" aria-selected="false" (click)="showActive(1)">Home</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="about-tab" data-toggle="tab" href="/welcome-page#about" role="tab"
       aria-controls="about" aria-selected="false" (click)="showActive(2)">About</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="products-tab" data-toggle="tab" href="/welcome-page#products" role="tab"
       aria-controls="products" aria-selected="false" (click)="showActive(3)">Products</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="editions-tab" data-toggle="tab" href="/welcome-page#editions" role="tab"
       aria-controls="editions" aria-selected="false" (click)="showActive(4)">Editions</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="customized-solutions-tab" data-toggle="tab" href="/welcome-page#customized-solutions" role="tab"
       aria-controls="customized-solutions" aria-selected="false" (click)="showActive(5)">Customized Solutions</a>
  </li>
  <li class="nav-link active">
    <a class="nav-link link-primary" id="contact-us-tab" data-toggle="tab" href="/welcome-page#contact-us" role="tab"
       aria-controls="contact-us" aria-selected="false" (click)="showActive(6)">Contact Us</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="login-or-register-tab" data-toggle="tab" href="/welcome-page#login-or-register" role="tab"
       aria-controls="login-or-register" aria-selected="false" (click)="showActive(7)">Login Or Register</a>
  </li>
</ul>

<ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="this.myValueLoginOrRegister">
  <li class="nav-link">
    <a class="nav-link link-secondary" id="home-tab" data-toggle="tab" href="/welcome-page#home" role="tab"
       aria-controls="home" aria-selected="false" (click)="showActive(1)">Home</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="about-tab" data-toggle="tab" href="/welcome-page#about" role="tab"
       aria-controls="about" aria-selected="false" (click)="showActive(2)">About</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="products-tab" data-toggle="tab" href="/welcome-page#products" role="tab"
       aria-controls="products" aria-selected="false" (click)="showActive(3)">Products</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="editions-tab" data-toggle="tab" href="/welcome-page#editions" role="tab"
       aria-controls="editions" aria-selected="false" (click)="showActive(4)">Editions</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="customized-solutions-tab" data-toggle="tab" href="/welcome-page#customized-solutions" role="tab"
       aria-controls="customized-solutions" aria-selected="false" (click)="showActive(5)">Customized Solutions</a>
  </li>
  <li class="nav-link">
    <a class="nav-link link-secondary" id="contact-us-tab" data-toggle="tab" href="/welcome-page#contact-us" role="tab"
       aria-controls="contact-us" aria-selected="false" (click)="showActive(6)">Contact Us</a>
  </li>
  <li class="nav-link active">
    <a class="nav-link link-primary" id="login-or-register-tab" data-toggle="tab" href="/welcome-page#login-or-register" role="tab"
       aria-controls="login-or-register" aria-selected="false" (click)="showActive(7)">Login Or Register</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active grey-background"
       id="home"
       role="tabpanel"
       aria-labelledby="home-tab"
       *ngIf="this.myValueHome">

    <br />
    <div class="text-center x-large-text">
      <p><strong>Welcome to Simulation Magic!</strong></p>
    </div>
    <hr />

    <div class="blue-background">
      <p>
        <strong>
          Simulation Magic products are designed to provide users with the ability to simulate a variety of processes, systems and scenarios.
          These simulations are based on the principle that mathematical algorithms and engineering models form the basis for all computer simulations
          of real systems.
        </strong>
      </p>
      <p>
        <strong>
          From risk mitigation to industrial processes to physical systems, we  implement models to help people simulate reality,
          in order to provide support for their business and personal decisions.
        </strong>
      </p>
      <p>
        <strong>
          The initial offerings in this series of products are the Personal Finance Magic and Small Business Magic products, which support financial planning
          for individuals and businesses. Users can track their personal or business net worth over time under variable conditions corresponding to various
          simulations, through forecasting and scenario analysis.
        </strong>
      </p>
      <p>
        <strong>
          A comprehensive picture of depreciation/appreciation and net present value is presented to manage assets, support decisions and mitigate risk. Costs
          are determined for the acquisition and/or maintenance of vehicles, buildings, equipment, etc. The result is a comprehensive analysis that is suitable
          for financial planning by individuals, families or businesses.
        </strong>
      </p>
      <p>
        <strong>
          To get started on your project, select the 'Working on Simulations' item from the menu at the top of the page.
        </strong>
      <p>
    </div>
    <hr />

    <div class="text-center larger-text">
      <p><strong>Descriptin of Tab Selections for this Page</strong></p>
    </div>
    <br />

    <table class="table bold-borders">
      <tr>
        <th class="underline">Tab</th>
        <th class="underline">Description</th>
      </tr>
      <tr>
        <td><strong>Home</strong></td>
        <td><strong>The landing page for this Web site</strong></td>
      </tr>
      <tr>
        <td><strong>About</strong></td>
        <td>
          <strong>Select this tab to learn more about the company and its history</strong>
        </td>
      </tr>
      <tr>
        <td><strong>Products</strong></td>
        <td>
          <strong>Definitions of the Personal, Business and Enterprise versions of Simulation Magic products</strong>
        </td>
      </tr>
      <tr>
        <td><strong>Editions</strong></td>
        <td>
          <strong>Description of the various versions available for each product and the corresponding prices</strong>
        </td>
      </tr>
      <tr>
        <td><strong>Customized solutions</strong></td>
        <td>
          <strong>Descriptions of more advanced products that require customized definitions for very specific applications</strong>
        </td>
      </tr>
      <tr>
        <td><strong>Contact us</strong></td>
        <td>
          <strong>How to get more information on Simulation Magic</strong>
        </td>
      </tr>
      <tr>
        <td><strong>Login or register</strong></td>
        <td>
          <strong>Entry point for returning users or new account creation</strong>
        </td>
      </tr>
    </table>
  </div>

  <div class="tab-pane fade show active"
       id="about"
       role="tabpanel"
       aria-labelledby="about-tab"
       *ngIf="this.myValueAbout">
    <br /><br />
    <div class="x-large-text">About tab content</div>.
    <br /><br />
  </div>

  <div class="tab-pane fade show active"
       id="products"
       role="tabpanel"
       aria-labelledby="products-tab"
       *ngIf="this.myValueProducts">
    <br /><br />
    <div class="x-large-text">Products tab content</div>.
    <br /><br />
  </div>

  <div class="tab-pane fade show active"
       id="editions"
       role="tabpanel"
       aria-labelledby="editions-tab"
       *ngIf="this.myValueEditions">
    <br /><br />
    <div class="x-large-text">Editions tab content</div>.
    <br /><br />
  </div>

  <div class="tab-pane fade show active"
       id="customized-solutions"
       role="tabpanel"
       aria-labelledby="customized-solutions-tab"
       *ngIf="this.myValueCustomizedSolutions">
    <br /><br />
    <div class="x-large-text">Customized solutions tab content</div>.
    <br /><br />
  </div>

  <div class="tab-pane fade show active"
       id="contact-us"
       role="tabpanel"
       aria-labelledby="contact-us-tab"
       *ngIf="this.myValueContactUs">
    <br /><br />
    <div class="x-large-text">Contact us tab content</div>.
    <br /><br />
  </div>

  <div class="tab-pane fade show active"
       id="login-or-register"
       role="tabpanel"
       aria-labelledby="login-or-register-tab"
       *ngIf="this.myValueLoginOrRegister">
    <br /><br />
    <div class="x-large-text">Login or register</div>.
    <br /><br />
  </div>

</div>

